{% extends 'base.html.twig' %}
{% block title %}The Invisible Friend{% endblock %}
{% block stylesheets %}
  <!-- Bootstrap core CSS -->
  <link href="{{ asset('assets/front/css/bootstrap.css')}}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ asset('assets/front/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{ asset('assets/front/css/style.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
	<div id="h">
      <div class="logo">The Invisible Friend</div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>Un amic inesperat t'està esperant... Apunta-t'hi ara!</h1>
            <div class="mtb">
              <form role="form" action="{{path('signup')}}" method="post" enctype="plain"> 
                <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." autocomplete="off" required />
                <button class='btn btn-conf btn-green' type="submit">Endavant</button>
              </form>
              {% if success is defined %}
	              {% if  success == '1' %}
	              <div id="success" class="alert alert-success">
	                <strong>Registre Correcte!</strong>, Enviarem un mail amb les dades de la persona a qui hauràs de fer el regal, quan es realitzi el sorteig. Gràcies per participar!
	              </div>
	          	  {% elseif success == '0' %}
	          	  	<div id="success" class="alert alert-danger">
	          	  	  <strong>Registre Incorrecte!</strong>, Probablement has emprat un email ja registrat. Torna a intentar-ho més tard.
	          	  	</div>
	          	  {% endif %}
          	  {% endif %}
            </div><!--/mt-->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->
{% endblock %}


{% block javascripts %}
	{{parent()}}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/front/js/ie10-viewport-bug-workaround.js"></script>
	    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/front/js/jquery.min.js"></script>
    <script src="assets/front/js/bootstrap.min.js"></script>
    <script src="assets/front/js/retina-1.1.0.js"></script>
{% endblock %}